
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Frontend.cshtml";
}




<div style="display: flex; justify-content: center; align-items: center; height: 100vh; flex-direction: column; text-align: center;">
    <h1>Payment Successful!</h1>
    <p>Thank you for booking your flight!</p>
    <a asp-controller="Payment" asp-action="Index">List Booking </a>
</div>
