
@{
    ViewData["Title"] = "Cancel";
    Layout = "~/Views/Frontend.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div style="display: flex; justify-content: center; align-items: center; height: 100vh; flex-direction: column; text-align: center;">
    <h1>Payment has been cancelled!</h1>
    <p>You have canceled your payment.</p>
    <a href="/Cart/Index">Come back : Your Cart</a>
</div>

